@font-face {
    font-family: "Segoe UI";
    src: url(../fonts/SegoeUI.ttf);
    font-weight: normal;
    font-weight: 400;
}

.wrapper {
    font-family: "Segoe UI";
}
.border-bluend {
    border-color: #5ea0e1;
}
.border-bluend div {
    background: #5ea0e1;
}
